body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #000000;
  background-image: url("../img/bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.inner-page {
  color: #000000;
  line-height: 18px;
  background-color: #f5f2ef;
  background-image: url("../img/pattern-light.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

a {
  text-decoration: none;
}

.button {
  font: inherit;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #000000;
  border-width: 0;
}

.button:hover,
.button:focus {
  background-color: #663d15;

}

.navigation {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;

  background-color: #000000;
}

.navigation-top,
.navigation-users {
  list-style: none;
}

.navigation-top a,
.navigation-users a {
  color: #ffffff;
}

.navigation-top a:hover,
.navigation-top a:focus,
.navigation-users a:hover,
.navigation-users a:focus {
  background-color: #242424;
}

.preference-list {
  list-style: none;
}

.preference-item {
  text-align: center;
}

.preference-item h3 {
  font-size: 30px;
  line-height: 42px;
}

.preference-item h3::after {
  content: "";
  float: right;
  background-image: url("../img/shape.svg");
  background-repeat: no-repeat;
  background-position: top center;
  width: 29px;
  height: 29px;
}

.index-columns {
  color: #000000;
  background-image: url("../img/pattern-light.jpg");
  background-repeat: repeat;
  background-color: #f5f2ef;
}

.news h2,
.gallery h2,
.contacts h2,
.appointment h2 {
  font-size: 30px;
  line-height: 42px;
}

.news-list {
  list-style: none;
}

.news-item time {
  text-transform: none;
}

.gallery-content {
  background-color: #cccccc;
  border: 7px solid #ffffff;
}

.appointment-item input {
  border-width: 2px;
  border-color: #000000;
  border-style: solid;
}

.appointment-item input:hover,
.appointment-item input:focus {
  border-color: #663d15;
}

/*TODO-INNER-CATALOG*/
.page-title {
  font-size: 30px;
  line-height: 42px;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs a {
  color: #000000;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  text-decoration: underline;
}

.breadcrumbs-current a {
  color: #aba9a7;
}

.breadcrumbs-current a:hover,
.breadcrumbs-current a:focus {
  text-decoration: none;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-size: 24px;
  line-height: 30px;
}

.filter ul {
  list-style: none;
  line-height: 18px;
}

.filter-input:hover + label {
  color: #663d15;
}

.filter-input:disabled +label {
  color: #000000;
  opacity: 0.5;
}

.filter .button {
  font-size: 13px;
}

.catalog ul {
  list-style: none;
}

.catalog-item {
  background-color: #f7f7f7;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2) ;
}

.catalog-item:hover,
.catalog-item:focus {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
}

.catalog-item h3 {
  font-size: 14px;
  line-height: 18px;
}

.catalog-item a {
  color: #000000;
}

.catalog-category {
  text-transform: none;
}

.catalog-item-price span {
  line-height: 18px;
  text-align: center;
  background-color: #e5e5e5;
}

.catalog-item-price .button {
  color: #ffffff;
  line-height: 18px;
}

.pagination-item {
  background-color: #000000;
}

.pagination-item:hover,
.pagination-item:focus,
.pagination-item:active {
  background-color: #663d15;
}

.pagination-item a {
  color: #ffffff;
}

.pagination-item-current {
  background-color: #ffffff;
}

.pagination-item-current:hover,
.pagination-item-current:focus,
.pagination-item-current:active {
  background-color: #ffffff;
}

.pagination-item-current a{
  color: #000000;
}

/*TODO-INNER-CATALOG-ITEM*/
.product-image-preview {
  list-style: none;
}

.product-image img {
  box-shadow: 0 0 15px rgba(0, 1, 1, 0.2);
}

.product-image-preview img:hover,
.product-image-preview img:focus {
  box-shadow: 0 0 25px rgba(0, 1, 1, 0.3);
}

.product-info-availability {
  line-height: 24px;
}

.product-info-article {
  color: #aeaeae;
  line-height: 24px;
  text-align: right;
}

.product-info-text {
  line-height: 24px;
}

.product-price b {
  background-color: #e5e5e5;
}

.product-info h3 {
  font-size: 24px;
  line-height: 30px;
}

.product-info ul {
  list-style: none;
  line-height: 24px;
}
/*TODO-FOOTER*/
.main-footer {
  background-image: url("../img/pattern-dark.jpg");
  background-repeat: repeat;
  background-color: #222222;
}

.footer-info-map {
  color: #ffffff;
  text-decoration: underline;
}

.footer-social-list {
  list-style: none;
}

.social-item-vk::before {
  content: "";
  float: left;
  background-image: url("../img/vk.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000000;
  width: 43px;
  height: 43px;
}

.social-item-vk:hover::before,
.social-item-vk:focus::before {
  content: "";
  float: left;
  background-image: url("../img/vk-hover.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
  width: 43px;
  height: 43px;
}

.social-item-fb::before {
  content: "";
  float: left;
  background-image: url("../img/facebook.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000000;
  width: 43px;
  height: 43px;
}

.social-item-fb:hover::before,
.social-item-fb:focus::before {
  content: "";
  float: left;
  background-image: url("../img/facebook-hover.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
  width: 43px;
  height: 43px;
}

.social-item-instg::before {
  content: "";
  float: left;
  background-image: url("../img/instagram.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000000;
  width: 43px;
  height: 43px;
}

.social-item-instg:hover::before,
.social-item-instg:focus::before {
  content: "";
  float: left;
  background-image: url("../img/instagram-hover.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
  width: 43px;
  height: 43px;
}

.footer-copyright .button {
  color: #ffffff;
  background-color: #000000;
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
  color: #000000;
  background-color: #ffffff;
}

.modal {
  background-color: #ffffff;
  color: #000000;
}

.login-page h2 {
  font-size: 30px;
}

.login-form input {
  border-width: 2px;
  border-style: solid;
  border-color: #000000;
  text-transform: uppercase;

}

.login-form input::-webkit-input-placeholder {color: #000000;}
.login-form input::-moz-placeholder {color: #000000;}
.login-form input:-ms-input-placeholder {color: #000000;}

.login-icon-user {
  background-image: url("../img/user.svg");
  background-repeat: no-repeat;
  background-position: right;
}

.login-icon-password {
  background-image: url("../img/lock.svg");
  background-repeat: no-repeat;
  background-position: right;
}

.login-password-info label::before {
  content: "";
  float: left;
  background-image: url("../img/cross.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
  border-width: 2px;
  border-color: #000000;
  border-style: solid;
}

.login-password-info a {
  text-decoration: underline;
  color: #000000;
}

.login-password-info a:hover,
.login-password-info a:focus {
  color: #663d15;
}

.modal-close {
  background-image: url("../img/cross.svg");
  background-repeat: no-repeat;
  background-size: 21px 21px;
  background-color: #ffffff; /*временный*/
  border-width: 0;
  filter: invert(1);
}
